body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-height: 100vh;
}
.container{
    display:flex;
    width: 100%;
}
.panal{
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    border-radius: 30px;
    flex:0.25;
    position: relative;
    transition: flex 0.5s ease-in;
    color: white;
    cursor: pointer;
    margin:10px;
}
.panal h3{
    position: absolute;
    bottom:0px;
    left: 10px;
    opacity: 0;
}
.panal.active{
    flex:5;
    
}
.panal.active h3{
    opacity: 1;
    transition: opacity 0.4s ease-in 0.4s;
}